* {
  box-sizing: border-box;
}

:root {
  --dark-cyan: hsl(185, 75%, 39%);
  --very-dark-desaturated-blue: hsl(229, 23%, 23%);
  --dark-grayish-blue: hsl(227, 10%, 46%);
  --dark-gray: hsl(0, 0%, 59%);
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-cyan);
  background-image: url(./images/bg-pattern-top.svg),
    url(./images/bg-pattern-bottom.svg);
  background-size: 100% 150%, 100% 150%;
  background-repeat: no-repeat, no-repeat;
  background-position: -50vw -80vh, 50vw 30vh;
}

.card {
  height: 350px;
  width: 300px;
  border-radius: 10px;
  background-color: #fff;
  background-image: url(./images/bg-pattern-card.svg);
  background-repeat: no-repeat;
  text-align: center;
}

/*----------------------image----------------------*/

.photo {
  border-radius: 50%;
  overflow: hidden;
  border: 5px solid #fff;
  width: 100px;
  margin-top: 90px;
  margin-right: auto;
  margin-left: auto;
}

.photo__image {
  width: 100%;
}

/*------------------personal info------------------*/

.name,
.numbers {
  font-size: 18px;
  font-weight: 700;
  color: var(--very-dark-desaturated-blue);
  margin-bottom: 8px;
}

.age {
  color: var(--dark-gray);
  font-weight: 400;
}

.city {
  color: var(--dark-gray);
  font-size: 16px;
  font-weight: 400;
  margin-top: 0;
}

.info-social-network {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-top: 2px solid hsla(0, 0%, 59%, 0.1);
}

.paragraph {
  margin-top: 0;
  color: var(--dark-gray);
  font-weight: 400;
  font-size: 12px;
}
